body {
	background-color: darkcyan;
}

.email {
  height: 20px;
  width: 300px;
  text-align: center;
  border-radius: 30px;
  position: absolute;
  top: 250px;
  left: 520px;
}

.password {
  height: 20px;
  width: 300px;
  text-align: center;
  border-radius: 30px;
  position: absolute;
  top: 450px;
  left: 520px;
}

.email_text {
  text-align: center;
  border-radius: 30px;
  position: absolute;
  top: 200px;
  left: 520px;
}

.password_text {
  text-align: center;
  border-radius: 30px;
  position: absolute;
  top: 400px;
  left: 520px;
}
