body {
	background-color: darkcyan;
}

.email {
  height: 20px;
  width: 300px;
  text-align: center;
  border-radius: 30px;
  position: absolute;
  top: 250px;
  left: 520px;
}

.password {
  height: 20px;
  width: 300px;
  text-align: center;
  border-radius: 30px;
  position: absolute;
  top: 450px;
  left: 520px;
}

.email_text {
  text-align: center;
  font-family: Monospace;
  font-size: 30px;
  border-radius: 30px;
  border:solid aliceblue 5px;
  position: absolute;
  padding: 3px;
  top: 175px;
  left: 630px;
}

.password_text {
  text-align: center;
  font-family: Monospace;
  font-size: 30px;
  border-radius: 30px;
  border:solid aliceblue 5px;
  padding: 3px;
  position: absolute;
  top: 375px;
  left: 610px;
}
