.logo {
	border:solid 8px lightblue;
	height: 148px;
	width: 215px;
	background-color: cyan;
}

body {
	background-color: darkcyan;
}

.login {
	height: 35px;
	width: 80px;
	position: absolute; top: 10px; left:800px;
}
