body {
	background-color: darkcyan;
	text-align: center;
}

.logo {
	border:solid 8px lightblue;
	height: 148px;
	width: 215px;
	background-color: cyan;
	position: relative;
	top: 20px;
}

.login_button{
position: relative;
top: 220px;
right: 155px;
width: 100px;
}

.nick {
  height: 20px;
  width: 300px;
  text-align: center;
  border-radius: 30px;
  position: relative;
  top: 80px;
}

.password {
  height: 20px;
  width: 300px;
  text-align: center;
  border-radius: 30px;
  position: relative;
  top: 180px;
  left:20px;
}

.nick_text {
  text-align: center;
  font-family: Monospace;
  font-size: 30px;
  border-radius: 30px;
  border:solid aliceblue 5px;
  position: relative;
  padding: 3px;
  top: 50px;
}

.password_text {
  text-align: center;
  font-family: Monospace;
  font-size: 30px;
  border-radius: 30px;
  border:solid aliceblue 5px;
  padding: 3px;
  position: relative;
  top: 150px;
}
